*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.create-product-page{

}
.create-product-page .containercreate{
    width: 90%;
    margin: 150px 5%;
}
.create-product-page form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
}
.create-product-page form input, .create-product-page select{
   width:  100%;
   height: 50px;
   outline: none;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
}
.create-product-page form input[type= "submit"]{
    cursor: pointer;
    background-color: rgb(47, 47, 229);
    font-size: 25px;
    color: white;
}